html {
overflow-y: scroll;
}

#wrapper {
  background-color: #ffffff;
  padding: 0;
}

#header {
  padding: 30px;
  margin: 0 auto;
}

#logo {
    max-width: 131px;
}

#main {
  padding: 0;
  max-width: 1120px;
  margin: 0 auto;
}

.business #main {
  max-width: 2000px;
  padding: 0;
}

.business #main .entry {
  width: 938px;
  height: 0;
  margin: 0 auto;
  overflow: visible;
  bottom: 0;
}

#hometext p {
    color: #AA0622;
    font-size: 24px;
    padding-left: 40px;
    padding-top: 22%;
    width: 45%;
    font-family: "franklin-gothic-urw",sans-serif;
}

.searchform, 
#searchform {
  margin-top: 0;
  background-color: #e6e7e8 !important;
  border-radius: 0;
  width: 280px;
}

form#searchform input#s {
  border-width: 0;  
  color: #000000;
  font-family: "franklin-gothic-urw",sans-serif;
  font-style: normal;
  font-size: 16px;
  width: 75%
}

::-webkit-input-placeholder {
	color: #4d4d4f;
}

.searchform input.s, #searchform input#s {
  padding: 0.75em 0 0.2em 15px;
}

#menu-headercart li {
  float: left;
}

/*-------------- navigation --------------*/

ul#main-nav {
 list-style: none;
}

ul#main-nav li {
 display: inline;
}
 

.menus {
 display: table; /* Allow the centering to work */
 margin: 0 auto;
 border-left: 3px solid #ffffff;
 border-right: 3px solid #ffffff;
 background-color: #e6e7e8;
 }

ul.nav {
 margin-right: 0;
}

#navigation {
  margin-bottom: 0;

}

ul.nav li a {
    padding-right: 5px !important;
    padding-left: 5px !important;
    border-top: 3px solid #ffffff;
    margin-top: -3px;
    min-width: 155px;
    text-align: center;
    background-color: #bcbec0;
    font-family: "franklin-gothic-urw",sans-serif;
    font-weight: 500;
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
}

ul.nav li a:hover,
ul.nav li.current_page_item a {
    border-top: 3px solid #aa0622;
}

.nav-toggle,
.archive .product-type-simple .price .from {
  display: none;
}

#sdrn_menu.sdrn_levels ul li a {
  width: 100%;
}

#sdrn_menu ul {
  border-top: 1px solid #ffffff;
}

#sdrn_bar, 
#sdrn_bar *, 
#sdrn_menu, 
#sdrn_menu *{
  font-family: "franklin-gothic-urw",sans-serif !important;
}



/*----------- end navigation --------------*/

.header-widget {
  width: 21%;
  position: absolute;
  right: 2.4%;
  margin-top: 55px;
}



#navigation .cart a.cart-contents { 
  height: 20px; 
  width: 150px; 
  color: #818285 !important;
  background-image: url(images/galerie_shopping_cart.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 60px;
  background-size: 42px auto;
  padding-right: 50px;
  text-align: right;
}

#navigation .cart a.cart-contents:hover { 
  background-image: url(images/galerie_shopping_cart_hover.png);
}

#navigation .cart-contents:before {
  display: none;
}

#navigation ul.cart > li:hover {
  background: none !important;
  color: #ffffff;
}

#navigation ul.cart > li > ul > div {
  background-color: #4d4d4f !important;
}

.header-widget .widget_nav_menu {
  margin-top: 1.5em;
}

.wcmenucart-icon-shopping-cart-0 {
  display: none;
}

.widget ul li.wcmenucart-display-right a {
  color: #4d4d4f !important;
  min-height: 42px;
  background-image: url(images/edge_shopping_cart.png);
  background-repeat: no-repeat;
  background-position: right 2px;
  background-size: 24px auto;
  padding: 15px 35px 15px 0;
  text-align: right;
}

.widget ul li.wcmenucart-display-right a:hover {
  background-image: url(images/edge_shopping_cart_hover.png);
  color: #4d4d4f !important;
}

.slider-pagination,
#loopedSlider {
  margin-bottom: 1em;
}

#homeslider {
  background-color: #ffffff;
  background-image: url(images/bricks.jpg);
  background-repeat: repeat-x;
  margin-bottom: 18px;
}

.soliloquy-container {
  margin: 0 auto !important;
}

.soliloquy-container.soliloquy-slide-horizontal .soliloquy-direction-nav li .soliloquy-next, 
.soliloquy-container.soliloquy-thumbnails-container .soliloquy-thumbnails .soliloquy-direction-nav li .soliloquy-next, 
.soliloquy-container .soliloquy-direction-nav li .soliloquy-next,
.soliloquy-next {
    background: url("images/edge_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 27px !important;
    width: 15px !important;
}

.soliloquy-container.soliloquy-slide-horizontal .soliloquy-direction-nav li .soliloquy-prev, 
.soliloquy-container.soliloquy-thumbnails-container .soliloquy-thumbnails .soliloquy-direction-nav li .soliloquy-prev, .soliloquy-container .soliloquy-direction-nav li .soliloquy-prev,
.soliloquy-prev  {
    background: url("images/edge_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 27px !important;
    width: 15px !important;
}


/* ---------------- content -------------- */

#content {
  padding-bottom: 0;
  padding-top: 2.653%;
  font-family: "franklin-gothic-urw",sans-serif !important;
}

#content.business,
body.page-template-template-contact-php #content {
  padding-top: 0;
  max-width: none !important;
}

.page-title, .post .title, .page .title,
#contact-page ol.forms label {
  font-weight: normal;
}

.business h2 {
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.business a:hover {
  text-decoration: none;
  opacity: 0.9;
}

h1, h2, h3, h4, h5, h6,
.business h2,
.widget p, .widget .textwidget, .widget li,
#footer li, #footer p,
body #wrapper #content .button, 
body #wrapper #content .button:visited, 
body #wrapper #content .reply a, 
body #wrapper #content #respond .form-submit input#submit, input[type="submit"], 
#navigation ul.cart .button {
  font-family: "franklin-gothic-urw",sans-serif !important;
}



#loopedSlider a.flex-prev span, 
#loopedSlider a.flex-next span {
  border: none;
  font-size: 59px;
  height: 59px;
}

#loopedSlider.business-slider, 
#loopedSlider.business-slider .container {
  background-color: #d4d4d4;
}

#loopedSlider .flex-viewport {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

ul.flex-direction-nav {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------ end content -------------- */


/*--------------- home -------------------*/

.three-col-left #main-sidebar-container, 
.three-col-left #main-sidebar-container #main {
    float: none;
    width: 100%;
}

.two-col-left #main-sidebar-container #main, 
.two-col-right #main-sidebar-container #main {
  width: 62%;
}

#homehotlinks {
  width: 1120px;
  margin: 0 auto;
}

.homefeature {
  float: left;
  width: 48.9%; /* 454px / 928px */
}

.homefeature#homefeatureleft {
  margin-right: 2.1551724%;
}

.homefeature img {
	width: 100%;
}

.homecontact {
  clear: both;
  padding-top: 20px;
}

#footerwrapper {
  background-color: #E6E7E8;
}

#footer-widgets {
  margin: 30px auto 0 auto;
  background-color: #e6e7e8;
  padding: 0 26px 26px 26px;
  max-width: 1120px !important;
}

#footer-widgets.col-3 .block {
  width: 31.896551%;
  float: right;
}

#footer-widgets .block,
#footer-widgets.col-3 .footer-widget-3 {
  margin-right: 2.1551724% !important;
}

#footer-widgets.col-3 .footer-widget-1 {
  margin-right: 0 !important;
}

.widget ul.product_list_widget li a {
  color: #4d4d4f;
}

.widget ul.product_list_widget li .amount {
  color: #aa0622;
}

.widget ul {
  list-style-type: none;
}
 
input, text area,
textarea#commentsText {
    background: #E6E7E8;
    border: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: inherit;
    font-size: 1em;
    padding: 5px;
    margin-bottom: 7px;
}

.wpcf7 input.wpcf7-submit,
.mc4wp-form-fields input[type="submit"] {
  padding: 3px 4px;
}

.widget .mc4wp-form h3 {
	padding-bottom: 0;
}

.widget .wpcf7 p {
margin-bottom: 0;
}

div.wpcf7-response-output {
margin-top: 0;
}

.wpcf7-form input.wpcf7-text,
.mc4wp-form-fields input[type="email"] {
    background: #ffffff;
    width: 70%;
    padding-top: 3px;
    height: 16px;
}

.tweets li {
  margin-bottom: 20px;
}

.tweets .avatar img {
  margin-right: 10px;
  padding-top: 5px;
}



#footer-widgets ul#socials {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
}

#footer-widgets ul#socials li {
  float: left;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left;
  line-height: 26px;
}

#footer-widgets ul#socials li#instagram {
  width: 28%;
  margin: 0 18% 0 0;
  background-image: url(images/instagram.png);
  background-size: 21px 21px;
}

#footer-widgets ul#socials li#instagram:hover {
  background-image: url(images/instagram-over.png);
}

#footer-widgets ul#socials li#twitter {
  width: 20%;
  margin: 0 14% 2% 0;
  background-image: url(images/twitter.png);
  background-size: 25px 20px;
}

#footer-widgets ul#socials li#twitter:hover {
  background-image: url(images/twitter-over.png);
}

#footer-widgets ul#socials li#instagram a {
  padding-left: 28%;
}

#footer-widgets ul#socials li#twitter a {
  padding-left: 43%;
}

#footer-widgets ul#socials li a {
  color: #aa0622;
}

#footer-widgets ul#socials li a:hover {
  color: #4d4d4f;
}

@media screen and (max-width:360px) {
  #footer-widgets.col-2 .block {
    width: 100%;
  }
  
}

/*--------- end home widgets -------------------*/


/*------------- products ------------------*/

.sku_wrapper,
li.product-category h3 .count,
.archive ul.products li.product a.button,
.related ul.products li.product a.button,
.upsells ul.products li.product a.button,
.orderby,
li.product-category h3 .count,
.related .price .amount:nth-of-type(3),
.archive .price .amount:nth-of-type(3),
.upsells .price .amount:nth-of-type(3),
.home .price .amount:nth-of-type(3),
.woocommerce .summary p.price .amount:nth-of-type(3),
.woocommerce .quantity {
  display: none;
}

ul.products h3 {
  margin-top: 2px;
  font-size: 14px;
}

li.product-category h3 {
  position: absolute;
  bottom: 0;
  background-image: url(images/red.png);
  width: 90%;
  padding: 5%;
  color: #ffffff;
  font-weight: normal;
}

li.product-category h3:hover {
  background-image: none;
}

ul.products li.product .price {
    color: #aa0622;
    display: block;
    font-size: 13px;
}

.archive .price,
.related .price,
.home .price,
.upsells .price,
.woocommerce .summary p.price {
  color: rgba(0,0,0,0.0) !important;
}

.archive .price .amount,
.archive .price .from,
.related .price .amount,
.related .price .from,
.upsells .price .amount,
.upsells .price .from,
.home .price .amount,
.home .price .from,
.upsells .price .from,
.woocommerce .summary p.price .amount,
.woocommerce .summary p.price .from,
.woocommerce .summary p.price .show  {
  color: #aa0622 !important;
}

.woocommerce .summary p.price .show {
	font-weight: normal;
}

.reset_variations {
    margin-top: 15px;
}

.woocommerce .summary h2.product_title {
	margin-bottom: 1em;
	font-size: 20px;
}

#tab-description h2,
.related h2 {
  font-size: 20px;
}

.single .price {
    font-size: 24px;
    font-weight: bold;
}

.variations_button {
    margin-top: 14px;
}

.single .related .price, .single .upsells .price {
    font-size: 1em;
    font-weight: normal;
}

.woocommerce .summary p.price {
	font-size: 14px;
	font-weight: normal;
}

.variations td.label {
	font-weight: bold;
}

table.variations select,
select.orderby {
  background-color: #e6e7e8 !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #4d4d4f;
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  font-size: 12px;
  border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('images/dropdown.png') no-repeat;  /*Adds background-image*/
      background-position: right;
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/
      padding: 5px;
      min-width: 170px;
      outline: none;
      text-shadow: none;
}

.woocommerce .summary table.variations tr td {
  padding: 0.857em 1.2em; 
}

table.variations select .enabled {
  padding: 3px 0;
}

button#place_order {
	background: #428bca;
	margin-bottom: 20px;
}

.wc-proceed-to-checkout {
	margin-bottom: 20px;
}

@media screen and (min-width:1768px) {


ul.products {
  padding: 0 1px !important;
}


#footer-widgets ul.products {
  padding: 0 !important;
}

ul.products li.product {
    clear: none;
    margin-bottom: 3.8%;
}

}

@media screen and (min-width:980px) {

  .tax-product_cat ul.products li.type-product {
  	padding: 1% 0 1.5% 0;
  	border-bottom: 1px solid #bcbec0;
  	margin-right: 0;
  	padding-right: 28px;

  	width: 22.6%;
  }
  
  .tax-product_cat ul.products li.type-product.last {
  	padding-right: 0;
  }
  
}


@media screen and (min-width:768px) {

  ul.products li.product a img {
    width: auto;
    margin: auto;
  }
  
  .tax-product_cat .productimageblock {
    height: 220px;
  }
  
  ul.products li.product.product-category a img  {
  	width:100%;
  }
  
  .tax-product_cat .productimageblock img,
  .search-results .productimageblock img {
  	max-height: 212px;
  }
  
}

.filteraz {
	margin-bottom: 20px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}

.filteraz .selected {
  color: #555555;
  text-decoration: underline;
}

table#productsizes {
	width: 100%;
	margin-top: 20px;
}

h3.papertitle {
	margin-top: 20px;
}

table#productsizes td {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5%;
	text-align: center;
}

p.paperguide {
	font-size: 10px;
	margin-top: 10px;
}

table#productsizes {
		font-size: 10px;
	}

span.inches {
	color: #aa0621;
}


/*---------- end products ------------------*/

/*---------- cart pages --------------------*/

table.cart img {
    width: 120px;
}

.entry table,
.entry table thead th,
.entry table tbody th {
    background: none;
    box-shadow: none;
}

.entry p#billing_country_field,
.entry p#shipping_country_field {
  color: #333333;
}

.entry p#billing_country_field label {
  color: #ffffff;
}

.chzn-container-single .chzn-single {
  background-color: #818285 !important;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #333333;
  font-family: Georgia;
}

.form-row.woocommerce-validated .input-text, 
.form-row.woocommerce-validated .chzn-single {
  border: none;
}

.woocommerce_message, 
.woocommerce-message,
.entry ul.woocommerce-error, 
.entry ul.woocommerce_error {
    background-color: #ffffff;
}

.woocommerce .summary form {
  border-color: #4d4d4f !important;
}

.woocommerce .woocommerce_tabs, 
.woocommerce .woocommerce-tabs {
  border-top: 1px solid #4d4d4f !important;
}

.entry table {
  border: 1px solid #4d4d4f;
}

.entry table thead th {
    border-bottom: 1px solid #4D4D4F;
    border-right: 1px solid #4D4D4F;
}

.entry table tbody td,
.entry table tbody th {
  border-bottom: 1px solid #4d4d4f;
}

.entry table td, 
.entry table th {
  border-right: 1px solid #4d4d4f;
}

.entry p#shiptobilling {
  margin-bottom: 1em;
}

.payment_methods li {
	overflow: hidden;
}

.payment_methods li img {
  max-height: 50px;
}

/*-------- end cart pages ------------------*/

/*-------------- news ----------------------*/

body.two-col-left-980 #main-sidebar-container #main {
  width: 62%;
}

.two-col-left #main-sidebar-container #sidebar, 
.two-col-right #main-sidebar-container #main {
  width: 30%;
  padding-right: 2.653%;
}

.entry img, 
img.thumbnail, 
#portfolio .group.portfolio-img img,
.widget ul.product_list_widget li img {
  background: none;
  border: none !important;
}

.widget ul.product_list_widget li img {
  width: 50px;
}

.postdate {
  float: right;
  color: #b58857;
  padding-top: 8px;
}

/*-------------- end news --------------*/

#footer {
  padding-top: 10px;
  padding-bottom: 7px;
}

#footercontent {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2.653%;
}

#footer a,
#footer p {
  color: #bcbec0;
}

#footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#footer .enhance_shortcode_menu_inline li {
  margin-left: 0;
  margin-right: 20px;
}

#footer .col-left {
  margin-bottom: 3px;
}

.creditcards li {
	float: left;
	margin-right: 5px;
}

.creditcards li.lastcredit {
	margin-right: 0;
}

.creditcards li img {
	height: 25px;
	width: auto;
}

/*-------------- responsive --------------*/

	@media screen and (max-width:1170px) {

	ul.nav li a {
		min-width: 120px;
	}
}
	
	@media screen and (max-width:1024px) {
    .zm-viewer {
  	display: none !important;
  }
  

}

@media screen and (max-width:944px) {

  #navigation{
    display: none !important;
  }
  
  .header-widget #searchform {
    margin-top: 0;
    width: 100%;
  }
  
  
  #homehotlinks {
    width: 94.69387%;
  }
  
  #footer-widgets.col-3 .block {
    width: 100%;
    margin-right: 0;
  }
  
  #hometext,
  #hometext p {
    display: none;
  }
  
  #homeslider {
    margin-bottom: 0;
  }
  
  #hometextmobile {
    background-color: #e6e7e8;
    margin-bottom: 18px;
    padding: 2% 2.5%;
  }
  
  #hometextmobile p {
    font-size: 16px;
    color: #aa0622;
    font-weight: bold;
  }
  
  .widget ul.product_list_widget li {
    clear: none;
    display: inline;
    float: left;
    width: 48.9%;
    margin-right: 2.15517%;
  }
  
  .widget ul.product_list_widget li:nth-child(2n) {
    margin-right: 0;
  }
  
  .widget ul.product_list_widget li img {
  width: 50px;
  margin: 1.5% 2.5% 2.5% 0;
  padding: 0;
  float: left;
  border-radius: 0;
}  

	ul.nav li a {
		min-width: 100px;
	}
  
}

@media screen and (min-width:943px) {
  
    #hometextmobile {
    display: none;
  }
  
  .header-widget #searchform {
    display: none;
  }
   
}

@media screen and (max-width:900px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 180px;
  }
  
  #footer-widgets {
    width: 95%; 
    margin: 0 auto;
    padding: 0 2.5% 26px 2.5%;
  }
  
  #footer-widgets .block, 
  #footer-widgets.col-3 .footer-widget-3 {
    margin-right: 0 !important;
  }
  
  #footer-widgets ul#socials li#twitter {
    width: 10%;
  }
  
  #footer-widgets ul#socials li#instagram {
    width: 14%;
  }
  
  td.sizesize {
		max-width: 90px;
	}
	
	.woocommerce .summary {
		width: 100% !important;
	}

}

@media screen and (max-width:800px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 170px;
  }
  
}

@media screen and (max-width:769px) {

  #header {
    padding: 5% 0;
  }  
  
  #logo {
    margin: 0 0 0 2.5%;
  }
  
  .header-widget {
    top: 0;
    margin-top: 35px;
    width: 34%;
    right: 2.5%;
  }
  
  .header-widget .widget ul {
    list-style-position: outside;
  }
  
  .searchform input.s, #searchform input#s {
    padding: 0.5em 0 0 15px;
  }
  
  form#searchform input#s {
    width: 73%;
  }
  
  .soliloquy-container .soliloquy-direction-nav {
    display: none !important;
  }
  
  #inner-wrapper {
    padding: 0;
  }
  
  #main {
    width: 96%;
    padding: 0;
    margin: 0 auto;
  }

  .business #main {
    border-top: none;
    width: 100%
  }
  
  
  #footer-widgets.col-2 .block,
   #footer-widgets.col-2 .block.footer-widget-1 {
    clear: both;
    width: 100%;
  }
  
  #footer-widgets .block {
    border-top: 1px solid #818285;
    padding: 2.5% 0;
  }
  
  #footer-widgets .block.footer-widget-1 {
    border-top: none;
  }
  
  .home #footer-widgets ul.products li.product a img {
    height: 230px;
  }
  
  #footer-widgets .block.footer-widget-2,
  #footer-widgets .block.footer-widget-3 {
    padding-bottom: 0;
  }
  
  #main {
    border-top: 1px solid #818285;
    padding-top: 3%;
  }
  
   #footercontent {
    padding: 0.5% 2.2% 5% 2.2%;
  }
  
  ul.products li.product a img {
    margin-bottom: 0;
  }
  
  .two-col-left #main-sidebar-container #main, 
  .two-col-right #main-sidebar-container #main,
  .two-col-left #main-sidebar-container #sidebar {
    margin: 0 2%;
    width: 96%;
    padding-right: 0;
  }
  
  .two-col-left #main-sidebar-container #sidebar .widget {
    width: 50%;
    float: left;
  }
  
  table#productsizes {
		font-size: 10px;
	}
	
 button#catapultCookie {
  	background-color: #eeeeee;
  }

}

@media screen and (max-width:700px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 210px;
  }
  
  .header-widget {
    top: 0;
    margin-top: 35px;
    width: 50%;
    right: 2.5%;
  }
  
    #footer-widgets ul#socials li#instagram {
    width: 24%;
  }

}

@media screen and (max-width:600px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 190px;
  }
  
  #footer-widgets ul#socials li#twitter {
    width: 8%;
  }
  
  #footer-widgets ul#socials li#facebook {
    width: 10%;
  }
  
  .filteraz {
		font-size: 20px;
	}


}

@media screen and (max-width:480px) {
  
  .header-widget {
    width: 55%;
    right: 2%;
    margin-top: 20px;
  }
  
  #logo {
    width: 30%;
  }
  
  .header-widget a.button,
  .header-widget  #commentform #submit
  .header-widget .submit,
  .header-widget input[type="submit"],
  .header-widget input.button,
  .header-widget button.button {
    padding: 0.327em;
  }
  
  .searchform input.s, #searchform input#s {
    padding: 0.1em 0 0 5px;
  }
  
  .header-widget input {
    margin-bottom: 3px;
  }
  
  form#searchform input#s {
    width: 81%;
  }
  
  .widget ul li.wcmenucart-display-right a {
    background-size: 20px auto;
    background-position: right 8px;
    padding-right: 25px;
  }
  
  .homefeature {
    width: 100%;
  }
  
  #homefeatureleft.homefeature {
    margin-right: 0;
  }
  
  #footer-widgets {
    padding: 0;
  }
  
    #footer-widgets ul#socials li#twitter {
    width: 18%;
  }
  
  #footer-widgets ul#socials li#facebook {
    width: 19%;
  }
  
  .homecontact {
    width: 100%;
    float: none;
  }
  
  .homecontact#socials {
    border-bottom: 1px solid #818285;
    margin: 1% 0 2% 0;
    padding-bottom: 2%;
  }
  
    .two-col-left #main-sidebar-container #sidebar .widget {
    width: 96%;
  }
  
 	table#productsizes {
		font-size: 10px;
	}
  
  
}

@media screen and (max-width:450px) {

  form#searchform input#s {
    width: 74%;
  }
  
    td.sizesize {
		max-width: 60px;
	}

}


@media screen and (max-width:360px) {

  .home #footer-widgets ul.products li.product a img {
    height: 220px;
  }
  
  
  form#searchform input#s {
    width: 73%;
  }

}

@media screen and (max-width:320px) {

  .home #footer-widgets ul.products li.product a img {
    height: 210px;
  }
  
  #footer-widgets {
    width: 94.9%;
    margin: 0 2.2% 0 2.9%;
  }
	

}



/*---------- end responsive --------------*/

   .woocommerce .images {
    width: 48%;
    margin-right: 3.8%;
    float: left;
    overflow:hidden !important;
  }
  
  .woocommerce .images img {
  width: 100%;
  height: auto !important;
  position:relative !important;
  display: inline !important;
}
